<!DOCTYPE html>
<html>
<head>
    <title>Mi Tienda</title>
</head>
<body>
    <div id="productos">
        {{!-- Aquí se mostrarán los productos --}}
    </div>
    
    <div id="carrito">
    </div>
    
    <script id="productos-template" type="text/x-handlebars-template">
        {{!-- Define la plantilla para los productos --}}
    </script>
    
    <script id="carrito-template" type="text/x-handlebars-template">
        {{!-- Define la plantilla para el carrito --}}
    </script>

    <script src="handlebars.js"></script>
    <script src="tu_script.js"></script>
</body>
</html>
