body {
    height: 100vh;
    background-color: #444141;
}

#contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#formProduct {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

#formProducth4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

#formProduct p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

#formProduct h2 {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

#formProduct a {
    color: white;
    text-decoration: none;
}

#formProduct a:hover {
    color: white;
    text-decoration: underline;
}

#formProduct .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.myBtn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
}

.myBtn h1, p{
    padding-right: 0.5rem;
}

.mybutton{
    font-size: 1.3rem;
    font-family: 'calibri';
    background-color: black;
    color: aliceblue;
}

.mybutton:hover{
    background-color: rgb(58, 57, 57);
    color: aliceblue;
}

.card {
    display: flex;
    flex-direction: column; /* Añade esta línea para hacer que los elementos fluyan hacia abajo */
    align-items: center;
    background-color: aliceblue;
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* Añade un tamaño fijo para la tarjeta */
    width: 420px; /* Ajusta este valor según tus necesidades */
    height: auto; /* Ajusta este valor según tus necesidades */
}

.card img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}


.mytitulo {
    text-align: center;
    font-size: 1.3rem;
}

.mydescripcion {
    text-align: center;
    font-family: 'calibri';
    font-size: 1.2rem;
    margin: 0.5rem;
}

.myboton{
    font-size: 1.3rem;
    font-family: 'calibri';
    background-color: black;
    color: aliceblue;
}

.myboton:hover{
    background-color: rgb(58, 57, 57);
    color: aliceblue;
}

.mydivrestysuma{
    display: flex;
    justify-content: center;
}

.restarCantidad {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: 'calibri';
    font-size: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

.sumarCantidad {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: 'calibri';
    font-size: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

.mycarrito{
    display: flex;
    justify-content: space-between;
}

.fa-cart-plus{
    font-size: 1.5rem;
}

#registerForm{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}


#registerForm label {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

#registerForm p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

#registerForm h2 {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

#registerForm a {
    color:#1f53c5;
    text-decoration: none;
    cursor: pointer;
}

#registerForm a:hover {
    color:#1a48ac;
}

#registerForm .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#registerForm .botons:hover {
    background: #1a48ac;
}

#loginForm{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}


#loginForm label {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

#loginForm p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

#loginForm h2 {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

#loginForm a {
    color:#1f53c5;
    text-decoration: none;
    cursor: pointer;
}

#loginForm a:hover {
    color:#1a48ac;
}

#loginForm .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#loginForm .botons:hover {
    background: #1a48ac;
}

/* CSS para el carrito y animación */
#cart {
    position: fixed;
    top: 0;
    right: -300px; /* Inicialmente oculto fuera de la pantalla */
    width: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
}

#cart.visible {
    right: 0; /* Muestra el carrito al hacer clic */
}

.cart-item {
    list-style: none;
    margin: 5px 0;
}

/* Animación de entrada de productos */
.cart-item.new {
    animation: productAdded 1s;
}

@keyframes productAdded {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
  